{% load static %}
<form class="row g-3 mt-2 position-relative z-index-9" method="POST"
      enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Profile picture -->
    <div class="col-12 justify-content-center align-items-center">
        <label class="form-label">Profile picture (Optional) Max: 1MB</label> <i
            class="bi bi-info-circle text-primary"
            data-bs-toggle="tooltip"
            title="{{ CFChar.tooltip_photo }}"></i>
        <div class="d-flex align-items-center">
            <label class="position-relative me-4" for="uploadfile-1"
                   title="Replace this pic">
                <!-- Avatar place holder -->
                <span class="avatar avatar-xl">
                                                                    <img id="uploadfile-1-preview"
                                                                         class="avatar-img rounded-circle border border-white border-3 shadow protected-image"
                                                                         src="{% static 'app_accounts/img/avatar/default.png' %}" alt="">
                                                            </span>
                <!-- Remove btn -->
                <button type="button" class="uploadremove"><i
                        class="bi bi-x text-white"></i></button>
            </label>
            <!-- Upload button -->
            <label class="btn btn-primary-soft mb-0" for="uploadfile-1">Change</label>
            <input id="uploadfile-1" class="form-control d-none" type="file" name="photo">
            <!-- Hidden input to indicate photo deletion -->
            <input type="hidden" id="delete-photo" name="delete_photo" value="false">
        </div>
        {% for error in form.photo.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>


    <!-- Full name -->
    <div class="col-12">
        <label class="form-label">Full name *</label>
        <div class="input-group">
            {{ form.first_name }}
            {% for error in form.first_name.errors %}
                <div class="alert alert-danger alert-dismissible">{{ error }}
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
            {{ form.last_name }}
            {% for error in form.last_name.errors %}
                <div class="alert alert-danger alert-dismissible">{{ error }}
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Email -->
    <div class="col-lg-6">
        <label class="form-label">Email *</label>
        {{ form.email }}
        {% for error in form.email.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>
    <!-- Number -->
    <div class="col-lg-6">
        <label class="form-label">Phone Number *</label>
        {{ form.phone }}
        {% for error in form.phone.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>
    <!-- Native Language -->
    <div class="col-lg-12">
        <label class="form-label">Native Language *</label> <i
            class="bi bi-info-circle text-primary"
            data-bs-toggle="tooltip"
            title="{{ CFChar.tooltip_native_languages }}"></i>
        {{ form.lang_native }}
        {% for error in form.lang_native.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>
    <!-- Teaching Skills -->
    <div class="col-lg-12">
        <label class="form-label">Teaching Skills *</label> <i
            class="bi bi-info-circle text-primary" data-bs-toggle="tooltip"
            title="{{ CFChar.tooltip_teaching_skill }}"></i>
        {{ form.skills }}
        {% for error in form.skills.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>

    <!-- Resume -->
    <div class="col-lg-12">
        <label class="form-label">Resume or Certifications (Optional) Max: 1MB</label>
        <div class="input-group mb-3">
            {{ form.resume }}
            <label class="input-group-text">pdf, doc, docx</label>
        </div>
        {% for error in form.resume.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>

    <!-- Textarea -->
    <div class="col-12">
        <label class="form-label">Add Summary *</label> <i
            class="bi bi-info-circle text-primary" data-bs-toggle="tooltip"
            title="{{ CFChar.tooltip_bio }}"></i>
        {{ form.bio }}
        <div class="form-text">Brief description about you and your teaching skills. (Max:
            500 Chars)
        </div>
        {% for error in form.bio.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>


    {{ form.captcha }}
    {% for error in form.captcha.errors %}
        <div class="invalid-feedback d-block">{{ error }}</div>
    {% endfor %}


    <!-- Button -->
    <div class="col-12">
        <button type="submit" class="btn btn-primary mb-0">Submit form</button>
    </div>
</form>