{#{% load static %}#}
{##}
{##}
{#<!-- Header START -->#}
{#<header class="navbar-light navbar-sticky">#}
{#    <!-- Logo Nav START -->#}
{#    <nav class="navbar navbar-expand-xl">#}
{#        <div class="container">#}
{#            <!-- Logo + Name Row -->#}
{#            <div class="d-flex justify-content-between align-items-center ">#}
{#                <!-- Logo -->#}
{#                <a class="navbar-brand  me-3" href="{% url 'app_pages:home' %}">#}
{#                    <img class="light-mode-item navbar-brand-item" src="{{ CFImage.site_logo_light.url }}"#}
{#                         alt="logo" style="height: 3rem; width: 6rem;">#}
{#                    <img class="dark-mode-item navbar-brand-item" src="{{ CFImage.site_logo_dark.url }}"#}
{#                         alt="logo" style="height: 3rem; width: 6rem;">#}
{#                </a>            <!-- Logo END -->#}
{##}
{##}
{#                <!-- Site Name - takes remaining space and aligns right -->#}
{#                <h3 class="mb-0 text-uppercase "> {{ CFChar.site_name }}</h3>#}
{#            </div>#}
{##}
{##}
{#            <!-- Logo + Name Row -->#}
{#                <div class="d-flex align-items-center flex-nowrap" style="gap: 2px;">#}
{##}
{#                <!-- Logo -->#}
{#                <a class="navbar-brand flex-shrink-0 mx-0" href="{% url 'app_pages:home' %}" style="min-width: 120px;">#}
{#                    <picture>#}
{#                        <!-- Light mode logo -->#}
{#                        <source srcset="{{ CFImage.site_logo_light.url }}" media="(prefers-color-scheme: light)">#}
{#                        <!-- Dark mode logo -->#}
{#                        <source srcset="{{ CFImage.site_logo_dark.url }}" media="(prefers-color-scheme: dark)">#}
{#                        <!-- Fallback logo -->#}
{#                        <img class="img-fluid protected-image"#}
{#                             src="{{ CFImage.site_logo_light.url }}"#}
{#                             alt="logo"#}
{#                             style="height: auto; max-height: 50px; width: auto;">#}
{#                    </picture>#}
{#                </a>#}
{##}
{#                <!-- Site Name - Responsive sizing and spacing -->#}
{#                <h3 class="mb-0 mx-0 text-uppercase fs-5 fs-md-4 fs-lg-3 text-truncate"#}
{#                    style="line-height: 1.2;">{{ CFChar.site_name }}#}
{#                </h3>#}
{#            </div>#}
{#        <!-- Logo + Name Row - Perfect Spacing -->#}
{#<div class="d-flex align-items-center flex-nowrap" style="gap: 2px;">#}
{#    <!-- Logo with fixed width -->#}
{#    <a class="navbar-brand p-0 m-0" href="{% url 'app_pages:home' %}" style="width: 120px; flex-shrink: 0;">#}
{#        <img class="d-block"#}
{#             src="{{ CFImage.site_logo_light.url }}"#}
{#             alt="logo"#}
{#             style="height: auto; max-height: 50px; display: block;">#}
{#    </a>#}
{##}
{#    <!-- Site Name with tight spacing -->#}
{#    <h3 class="m-0 p-0 text-uppercase fs-5 fs-md-4 fs-lg-3" style="line-height: 1.2;">#}
{#        {{ CFChar.site_name }}#}
{#    </h3>#}
{#</div>#}
{##}
{##}
{##}
{#            <!-- Responsive navbar toggler -->#}
{#            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"#}
{#                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"#}
{#                    aria-label="Toggle navigation">#}
{#				<span class="navbar-toggler-animation">#}
{#					<span></span>#}
{#					<span></span>#}
{#					<span></span>#}
{#				</span>#}
{#            </button>#}
{##}
{#            <!-- Main navbar START -->#}
{#            <div class="navbar-collapse w-100 collapse" id="navbarCollapse">#}
{#                <!-- Nav Main menu START -->#}
{#                <ul class="navbar-nav navbar-nav-scroll me-auto">#}
{#                </ul>#}
{#                <!-- Nav Main menu END -->#}
{##}
{#                <!-- Nav Main menu START -->#}
{#                <ul class="navbar-nav navbar-nav-scroll mx-auto">#}
{#                    <!-- Nav item 1 Home -->#}
{#                    <li class="nav-item">#}
{#                        <a#}
{#                                {% if request.path == '/' %}#}
{#                                    class="nav-link active text-primary"#}
{#                                {% else %}#}
{#                                    class="nav-link"#}
{#                                {% endif %}#}
{#                                    href="{% url 'app_pages:home' %}" id="demoMenu" aria-expanded="false">Home</a>#}
{#                    </li>#}
{#                    <!-- Nav item 02 Tutors -->#}
{#                    <li class="nav-item">#}
{#                        <a#}
{#                                {% if 'tutors' in request.path %}#}
{#                                    class="nav-link active text-primary"#}
{#                                {% else %}#}
{#                                    class="nav-link"#}
{#                                {% endif %}#}
{#                                    href="{% url 'provider:tutor_list' %}" id="menu-tutor" aria-expanded="false">Tutors</a>#}
{#                    </li>#}
{##}
{#                    <!-- Nav item: About -->#}
{#                    <li class="nav-item">#}
{#                        <a#}
{#                                {% if 'about' in request.path %}#}
{#                                    class="nav-link active text-primary"#}
{#                                {% else %}#}
{#                                    class="nav-link"#}
{#                                {% endif %}#}
{#                                    href="{% url 'app_pages:about' %}" id="menu-tutor" aria-expanded="false">About#}
{#                            Us</a>#}
{#                    </li>#}
{#                    <!-- Nav item: Contact -->#}
{#                    <li class="nav-item">#}
{#                        <a#}
{#                                {% if 'contact-us' in request.path %}#}
{#                                    class="nav-link active text-primary"#}
{#                                {% else %}#}
{#                                    class="nav-link"#}
{#                                {% endif %}#}
{#                                    href="{% url 'app_pages:contact_us' %}" id="menu-tutor" aria-expanded="false">Contact</a>#}
{#                    </li>#}
{##}
{#                <li class="nav-item">#}
{#                        <a#}
{#                                {% if 'become-tutor' in request.path %}#}
{#                                    class="nav-link active text-primary"#}
{#                                {% else %}#}
{#                                    class="nav-link"#}
{#                                {% endif %}#}
{#                                    href="{% url 'provider:become_tutor' %}" id="menu-tutor" aria-expanded="false">Become a tutor</a>#}
{#                    </li>#}
{#                    <!-- Nav item: Pricing -->#}
{#                    <li class="nav-item">#}
{#                        <a#}
{#                                {% if 'pricing' in request.path %}#}
{#                                    class="nav-link active text-primary"#}
{#                                {% else %}#}
{#                                    class="nav-link"#}
{#                                {% endif %}#}
{#                                    href="{% url 'app_pages:pricing' %}" id="menu-tutor"#}
{#                                    aria-expanded="false">Pricing</a>#}
{#                    </li>#}
{#                    <!-- Nav item: Blog-->#}
{#                    <li class="nav-item">#}
{#                        <a#}
{#                                {% if 'blog' in request.path %}#}
{#                                    class="nav-link active text-primary"#}
{#                                {% else %}#}
{#                                    class="nav-link"#}
{#                                {% endif %}#}
{#                                    href="{% url 'blog:home' %}" id="menu-tutor" aria-expanded="false">Blog</a>#}
{#                    </li>#}
{##}
{#                    <!-- Nav item: Shop-->#}
{#                    <li class="nav-item">#}
{#                        <a#}
{#                                {% if 'shop' in request.path %}#}
{#                                    class="nav-link active text-primary"#}
{#                                {% else %}#}
{#                                    class="nav-link"#}
{#                                {% endif %}#}
{#                                    href="{% url 'shop:products' %}" id="menu-shop" aria-expanded="false">Shop</a>#}
{#                    </li>#}
{#                    <!-- Nav item: Account -->#}
{#                    <!-- Nav item: link-->#}
{#                </ul>#}
{#                <!-- Nav Main menu END -->#}
{##}
{#                <!-- Nav Search START -->#}
{#                <div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">#}
{#                    <div class="nav-item w-100">#}
{#                        <form class="position-relative">#}
{#                            <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search"#}
{#                                   aria-label="Search">#}
{#                            <button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"#}
{#                                    type="submit">#}
{#                                <i class="fas fa-search fs-6 "></i>#}
{#                            </button>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- Nav Search END -->#}
{##}
{##}
{#            </div>#}
{#            <!-- Main navbar END -->#}
{##}
{#            {% if 'shop' in request.path %}#}
{#                <!-- Cart dropdown START -->#}
{#                <div class="me-2 me-md-3 dropdown">#}
{#                    <!-- Cart button -->#}
{#                    <a class="btn btn-light btn-round mb-0" href="#" role="button" data-bs-toggle="dropdown"#}
{#                       aria-expanded="false" data-bs-auto-close="outside">#}
{#                        <i class="bi bi-cart3 fa-fw"></i>#}
{#                    </a>#}
{#                    <!-- badge -->#}
{#                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-dark mt-xl-2 ms-n1">2#}
{#					<span class="visually-hidden">unread messages</span>#}
{#				</span>#}
{##}
{#                    <!-- Cart dropdown menu START -->#}
{#                    <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0">#}
{#                        <div class="card bg-transparent">#}
{#                            <div class="card-header bg-transparent border-bottom py-4">#}
{#                                <h5 class="m-0">Cart items</h5>#}
{#                            </div>#}
{#                            <div class="card-body p-0">#}
{##}
{#                                <!-- Cart item START -->#}
{#                                <div class="row p-3 g-2">#}
{#                                    <!-- Image -->#}
{#                                    <div class="col-3">#}
{#                                        <img class="rounded-2 protected-image" src="{% static 'assets/images/book/02.jpg' %}"#}
{#                                             alt="avatar">#}
{#                                    </div>#}
{##}
{#                                    <div class="col-9">#}
{#                                        <!-- Title -->#}
{#                                        <div class="d-flex justify-content-between">#}
{#                                            <h6 class="m-0">Angular 4 Tutorial in audio (Compact Disk)</h6>#}
{#                                            <a href="#" class="small text-primary-hover"><i#}
{#                                                    class="bi bi-x-lg"></i></a>#}
{#                                        </div>#}
{#                                        <!-- Select item -->#}
{#                                        <form class="choices-sm pt-2 col-4">#}
{#                                            <select class="form-select js-choice border-0 bg-transparent"#}
{#                                                    data-search-enabled="false">#}
{#                                                <option>1</option>#}
{#                                                <option selected>2</option>#}
{#                                                <option>3</option>#}
{#                                                <option>4</option>#}
{#                                                <option>5</option>#}
{#                                            </select>#}
{#                                        </form>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- Cart item END -->#}
{##}
{#                                <!-- Divider -->#}
{#                                <hr class="m-0">#}
{##}
{#                                <!-- Cart item START -->#}
{#                                <div class="row p-3 g-2">#}
{#                                    <!-- Image -->#}
{#                                    <div class="col-3">#}
{#                                        <img class="rounded-2 protected-image" src="{% static 'assets/images/book/04.jpg' %}"#}
{#                                             alt="avatar">#}
{#                                    </div>#}
{##}
{#                                    <div class="col-9">#}
{#                                        <!-- Title -->#}
{#                                        <div class="d-flex justify-content-between">#}
{#                                            <h6 class="m-0">The Principles of Beautiful Graphics Design#}
{#                                                (Paperback)</h6>#}
{#                                            <a href="#" class="small text-primary-hover"><i#}
{#                                                    class="bi bi-x-lg"></i></a>#}
{#                                        </div>#}
{#                                        <!-- Select item -->#}
{#                                        <form class="choices-sm pt-2 col-4">#}
{#                                            <select class="form-select js-choice border-0 bg-transparent"#}
{#                                                    data-search-enabled="false">#}
{#                                                <option selected>1</option>#}
{#                                                <option>2</option>#}
{#                                                <option>3</option>#}
{#                                                <option>4</option>#}
{#                                                <option>5</option>#}
{#                                            </select>#}
{#                                        </form>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- Cart item END -->#}
{##}
{#                            </div>#}
{#                            <!-- Button -->#}
{#                            <div class="card-footer bg-transparent border-top py-3 text-center d-flex justify-content-between position-relative">#}
{#                                <a href="{% url 'shop:cart' %}" class="btn btn-sm btn-light mb-0">View Cart</a>#}
{#                                <a href="{% url 'shop:checkout' %}" class="btn btn-sm btn-success mb-0">Checkout</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- Cart dropdown menu END -->#}
{#                </div>#}
{#                <!-- Cart dropdown END -->#}
{#            {% endif %}#}
{#            <!-- Profile START -->#}
{#            {% if user.is_authenticated %}#}
{#                <div class="dropdown ms-1 ms-lg-0">#}
{#                    <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button"#}
{#                       data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"#}
{#                       aria-expanded="false">#}
{#                        <img class="avatar-img rounded-circle protected-image" src="{{ user.profile.photo.url }}" alt="avatar">#}
{#                    </a>#}
{#                    <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"#}
{#                        aria-labelledby="profileDropdown">#}
{#                        <!-- Profile info -->#}
{#                        <li class="px-3 mb-3">#}
{#                            <div class="d-flex align-items-center">#}
{#                                <!-- Avatar -->#}
{#                                <div class="avatar me-3">#}
{#                                    {% if user.profile.photo %}#}
{#                                        <img class="avatar-img rounded-circle shadow protected-image" src="{{ user.profile.photo.url }}"#}
{#                                             alt="avatar">#}
{#                                    {% else %}#}
{#                                        <img class="avatar-img rounded-circle shadow protected-image"#}
{#                                             src="{% static 'app_accounts/img/avatar/default.png' %}" alt="avatar">#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                                <div>#}
{#                                    <a class="h6"#}
{#                                       href="{% url 'accounts:dashboard' %}">{{ user.first_name }} {{ user.last_name }}</a>#}
{#                                    <p class="small m-0"><a href="{% url 'accounts:dashboard' %}">{{ user.email }}</a>#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li>#}
{#                            <hr class="dropdown-divider">#}
{#                        </li>#}
{#                        <!-- Links -->#}
{#                        <li><a class="dropdown-item" href="#"><i#}
{#                                class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>#}
{#                        <li><a class="dropdown-item" href="{% url 'accounts:dashboard' %}"><i#}
{#                                class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>#}
{#                        <li><a class="dropdown-item" href="{% url 'app_pages:help_center' %}"><i#}
{#                                class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>#}
{#                        <li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'accounts:sign_out' %}"><i#}
{#                                class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>#}
{#                        <li>#}
{#                            <hr class="dropdown-divider">#}
{#                        </li>#}
{#                        <!-- Dark mode options START -->#}
{#                        <li>#}
{#                            <div class="bg-light dark-mode-switch theme-icon-active d-flex align-items-center p-1 rounded mt-2">#}
{#                                <button type="button" class="btn btn-sm mb-0" data-bs-theme-value="light">#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
{#                                         class="bi bi-sun fa-fw mode-switch" viewBox="0 0 16 16">#}
{#                                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>#}
{#                                        <use href="#"></use>#}
{#                                    </svg>#}
{#                                    Light#}
{#                                </button>#}
{#                                <button type="button" class="btn btn-sm mb-0" data-bs-theme-value="dark">#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
{#                                         class="bi bi-moon-stars fa-fw mode-switch" viewBox="0 0 16 16">#}
{#                                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>#}
{#                                        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>#}
{#                                        <use href="#"></use>#}
{#                                    </svg>#}
{#                                    Dark#}
{#                                </button>#}
{#                                <button type="button" class="btn btn-sm mb-0 active" data-bs-theme-value="auto">#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
{#                                         class="bi bi-circle-half fa-fw mode-switch" viewBox="0 0 16 16">#}
{#                                        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>#}
{#                                        <use href="#"></use>#}
{#                                    </svg>#}
{#                                    Auto#}
{#                                </button>#}
{#                            </div>#}
{#                        </li>#}
{#                        <!-- Dark mode options END-->#}
{#                    </ul>#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="navbar-nav">#}
{#                    <a href="{% url 'accounts:sign_in' %}">#}
{#                        <button class="btn btn-sm btn-dark mb-0 mx-2"><i class="bi bi-power me-2"></i>Sign In</button>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="navbar-nav">#}
{#                    <a href="{% url 'accounts:sign_up' %}">#}
{#                        <button class="btn btn-sm btn-light mb-0"><i class="bi bi-pencil-square me-2"></i>Sign Up#}
{#                        </button>#}
{#                    </a>#}
{#                </div>#}
{#            {% endif %}#}
{#            <!-- Profile END -->#}
{#        </div>#}
{#    </nav>#}
{#    <!-- Logo Nav END -->#}
{#</header>#}
{#<!-- Header END -->#}


{# ------------------------------------------------------------------ #}

{% load static %}

<!-- Header START -->
<header class="navbar-light navbar-sticky py-3">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <!-- Logo + Site Name - Left Aligned -->
            <div class="d-flex align-items-center me-auto" style="min-width: 200px;">
                <!-- Logo with proper spacing -->
                <a class="navbar-brand me-2" href="{% url 'app_pages:home' %}" style="padding: 0; margin-right: 10px;">
                    <picture>
                        <source srcset="{{ CFImage.site_logo_light.url }}" media="(prefers-color-scheme: light)">
                        <source srcset="{{ CFImage.site_logo_dark.url }}" media="(prefers-color-scheme: dark)">
                        <img class="img-fluid protected-image"
                             src="{{ CFImage.site_logo_light.url }}"
                             alt="logo"
                             style="height: 40px; width: auto;">
                    </picture>
                </a>

                <!-- Site Name with responsive sizing -->
                <h3 class="mb-0 fw-bold text-uppercase d-none d-md-block"
                    style="font-size: 1.35rem; line-height: 1.2; margin-left: 10px;">
                    <a href="{% url 'app_pages:home' %}">
                        {{ CFChar.site_name }}
                    </a>
                </h3>
            </div>

            <!-- Mobile Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-animation">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>

            <!-- Main Navbar Content -->
            <div class="navbar-collapse w-100 collapse" id="navbarCollapse">
                <!-- Center Navigation -->
                <ul class="navbar-nav navbar-nav-scroll mx-auto">
                    <li class="nav-item">
                        <a class="nav-link{% if request.path == '/' %} active text-primary{% endif %}"
                           href="{% url 'app_pages:home' %}">Home</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link{% if 'online-learning' in request.path %} active text-primary{% endif %}"#}
{#                           href="{% url 'app_pages:online_learning' %}">Online Learning</a>#}
{#                    </li>#}
                    <!-- Nav item: In-Person -->
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if 'in-person' in request.path %}active text-primary{% endif %} dropdown-toggle" href="{% url 'app_pages:inp_private_course' %}" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programs</a>
                        <ul class="dropdown-menu" aria-labelledby="demoMenu">
                            <li> <a class="dropdown-item" href="{% url 'app_pages:inp_private_course' %}">Private Courses</a></li>
                            <li> <a class="dropdown-item" href="{% url 'app_pages:inp_group' %}">Group Courses</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if 'for-business' in request.path %} active text-primary{% endif %}"
                           href="{% url 'app_pages:for_business' %}">For Business</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link{% if 'products' in request.path %} active text-primary{% endif %}"#}
{#                           href="#">Products</a>#}
{#                    </li>#}

                    <li class="nav-item">
                        <a class="nav-link{% if 'become-tutor' in request.path %} active text-primary{% endif %}"
                           href="{% url 'provider:become_tutor' %}">Become a Tutor</a>
                    </li>

                </ul>

                <!-- Right Side Elements -->
                <div class="d-flex align-items-center">
                    <!-- Search Bar -->
{#                    <div class="nav-item me-2 me-xl-3">#}
{#                        <form class="position-relative">#}
{#                            <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search"#}
{#                                   aria-label="Search">#}
{#                            <button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"#}
{#                                    type="submit">#}
{#                                <i class="fas fa-search fs-6"></i>#}
{#                            </button>#}
{#                        </form>#}
{#                    </div>#}


                    <!-- Notification dropdown START -->
                    {#                    <li class="nav-item ms-2 ms-md-3 dropdown">#}
                    {#                        <!-- Notification button -->#}
                    {#                        <a class="btn btn-light btn-round mb-0" href="#" role="button" data-bs-toggle="dropdown"#}
                    {#                           aria-expanded="false" data-bs-auto-close="outside">#}
                    {#                            <i class="bi bi-bell fa-fw"></i>#}
                    {#                        </a>#}
                    {#                        <!-- Notification dote -->#}
                    {#                        <span class="notif-badge animation-blink"></span>#}
                    {##}
                    {#                        <!-- Notification dropdown menu START -->#}
                    {#                        <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0">#}
                    {#                            <div class="card bg-transparent">#}
                    {#                                <div class="card-header bg-transparent border-bottom py-4 d-flex justify-content-between align-items-center">#}
                    {#                                    <h6 class="m-0">Notifications <span#}
                    {#                                            class="badge bg-danger bg-opacity-10 text-danger ms-2">2 new</span></h6>#}
                    {#                                    <a class="small" href="#">Clear all</a>#}
                    {#                                </div>#}
                    {#                                <div class="card-body p-0">#}
                    {#                                    <ul class="list-group list-unstyled list-group-flush">#}
                    {#                                        <!-- Notif item -->#}
                    {#                                        <li>#}
                    {#                                            <a href="#"#}
                    {#                                               class="list-group-item-action border-0 border-bottom d-flex p-3">#}
                    {#                                                <div class="me-3">#}
                    {#                                                    <div class="avatar avatar-md">#}
                    {#                                                        <img class="avatar-img rounded-circle"#}
                    {#                                                             src="{% static 'assets/images/avatar/08.jpg' %}"#}
                    {#                                                             alt="avatar">#}
                    {#                                                    </div>#}
                    {#                                                </div>#}
                    {#                                                <div>#}
                    {#                                                    <p class="text-body small m-0">Congratulate <b>Joan Wallace</b> for#}
                    {#                                                        graduating from <b>Microverse university</b></p>#}
                    {#                                                    <u class="small">Say congrats</u>#}
                    {#                                                </div>#}
                    {#                                            </a>#}
                    {#                                        </li>#}
                    {##}
                    {#                                        <!-- Notif item -->#}
                    {#                                        <li>#}
                    {#                                            <a href="#"#}
                    {#                                               class="list-group-item-action border-0 border-bottom d-flex p-3">#}
                    {#                                                <div class="me-3">#}
                    {#                                                    <div class="avatar avatar-md">#}
                    {#                                                        <img class="avatar-img rounded-circle"#}
                    {#                                                             src="{% static 'assets/images/avatar/02.jpg' %}"#}
                    {#                                                             alt="avatar">#}
                    {#                                                    </div>#}
                    {#                                                </div>#}
                    {#                                                <div>#}
                    {#                                                    <h6 class="mb-1">Larry Lawson Added a new course</h6>#}
                    {#                                                    <p class="small text-body m-0">What's new! Find out about new#}
                    {#                                                        features</p>#}
                    {#                                                    <u class="small">View detail</u>#}
                    {#                                                </div>#}
                    {#                                            </a>#}
                    {#                                        </li>#}
                    {##}
                    {#                                        <!-- Notif item -->#}
                    {#                                        <li>#}
                    {#                                            <a href="#"#}
                    {#                                               class="list-group-item-action border-0 border-bottom d-flex p-3">#}
                    {#                                                <div class="me-3">#}
                    {#                                                    <div class="avatar avatar-md">#}
                    {#                                                        <img class="avatar-img rounded-circle"#}
                    {#                                                             src="{% static 'assets/images/avatar/05.jpg' %}"#}
                    {#                                                             alt="avatar">#}
                    {#                                                    </div>#}
                    {#                                                </div>#}
                    {#                                                <div>#}
                    {#                                                    <h6 class="mb-1">New request to apply for Tutor</h6>#}
                    {#                                                    <u class="small">View detail</u>#}
                    {#                                                </div>#}
                    {#                                            </a>#}
                    {#                                        </li>#}
                    {##}
                    {#                                        <!-- Notif item -->#}
                    {#                                        <li>#}
                    {#                                            <a href="#"#}
                    {#                                               class="list-group-item-action border-0 border-bottom d-flex p-3">#}
                    {#                                                <div class="me-3">#}
                    {#                                                    <div class="avatar avatar-md">#}
                    {#                                                        <img class="avatar-img rounded-circle"#}
                    {#                                                             src="{% static 'assets/images/avatar/03.jpg' %}"#}
                    {#                                                             alt="avatar">#}
                    {#                                                    </div>#}
                    {#                                                </div>#}
                    {#                                                <div>#}
                    {#                                                    <h6 class="mb-1">Update v2.3 completed successfully</h6>#}
                    {#                                                    <p class="small text-body m-0">What's new! Find out about new#}
                    {#                                                        features</p>#}
                    {#                                                    <small class="text-body">5 min ago</small>#}
                    {#                                                </div>#}
                    {#                                            </a>#}
                    {#                                        </li>#}
                    {#                                    </ul>#}
                    {#                                </div>#}
                    {#                                <!-- Button -->#}
                    {#                                <div class="card-footer bg-transparent border-0 py-3 text-center position-relative">#}
                    {#                                    <a href="#" class="stretched-link">See all incoming activity</a>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <!-- Notification dropdown menu END -->#}
                    {#                    </li>#}
                    <!-- Notification dropdown END -->


                    <!-- Profile Dropdown -->
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="avatar-img rounded-circle protected-image"
                                     src="{{ user.profile.photo.url }}"
                                     alt="avatar"
                                     onerror="this.src='{% static 'app_accounts/img/avatar/default.png' %}'">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                                <li class="px-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar me-3">
                                            <img class="avatar-img rounded-circle shadow "
                                                 src="{{ user.profile.photo.url }}"
                                                 alt="avatar"
                                                 onerror="this.src='{% static 'app_accounts/img/avatar/default.png' %}'">
                                        </div>
                                        <div>
                                            <a class="h6" href="{% url 'accounts:dashboard' %}">
                                                {{ user.get_full_name|default:user.username }}
                                            </a>
                                            <p class="small m-0">{{ user.email }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>Edit
                                    Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'accounts:dashboard' %}"><i
                                        class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>
                                <li><a class="dropdown-item" href="{% url 'app_pages:help_center' %}"><i
                                        class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>
                                <li><a class="dropdown-item bg-danger-soft-hover"
                                       href="{% url 'accounts:sign_out' %}"><i class="bi bi-power fa-fw me-2"></i>Sign
                                    Out</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="d-flex">
                            <a href="{% url 'accounts:sign_in' %}" class="btn btn-sm btn-dark mb-0 mx-1">
                                <i class="bi bi-power me-2"></i>Sign In
                            </a>
                            <a href="{% url 'accounts:sign_up' %}" class="btn btn-sm btn-light mb-0 mx-1">
                                <i class="bi bi-pencil-square me-2"></i>Sign Up
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<!-- Header END -->
