amqp
asgiref
async-timeout
beautifulsoup4
billiard
bleach
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
crispy-bootstrap4
cryptography
defusedxml

Django
django-allauth
django-bleach
django-channels
django-ckeditor
django-crispy-forms
django-extensions
django-intl-tel-input
django-jazzmin
django-js-asset
django-phonenumber-field
django-quill-editor
django-recaptcha
djangorestframework
environs
Faker
gunicorn
idna
kombu
MarkupSafe
marshmallow
oauthlib
packaging
pillow
prompt_toolkit
psycopg2
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-dotenv
python-json-logger
python3-openid
pytz

redis
requests
requests-oauthlib
shortuuid
six
soupsieve
sqlparse
stripe
typing_extensions
tzdata
urllib3
vine
wcwidth
Werkzeug