<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block head_title %}Tutor Panel{% endblock %}</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="{{ CFChar.site_name }}">
    <meta name="description" content="{{ CFChar.site_name }} Theme">

    <!-- Dark mode -->
    <script>
        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if (el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                    const activeThemeIcon = document.querySelector('.theme-icon-active use')
                    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                    const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                        element.classList.remove('active')
                    })

                    btnToActive.classList.add('active')
                    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                }

                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                    if (storedTheme !== 'light' || storedTheme !== 'dark') {
                        setTheme(getPreferredTheme())
                    }
                })

                showActiveTheme(getPreferredTheme())

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                            showActiveTheme(theme)
                        })
                    })

            }
        })

    </script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ CFImage.site_logo_light.url }}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

    {% block head_style_plugins %}
        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    {% endblock %}

    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/avr_style.css' %}">


    {% block embed_style %}{% endblock %}
    {% block embed_script_inHead %}{% endblock %}
    {% block my_style %}{% endblock %}
</head>

<body>
{% include 'app_pages/includes/header.html' %}

<!-- **************** MAIN CONTENT START **************** -->
<main>
    <div class="container mt-3">
        {% include 'includes/messages.html' %}
        {% block embed_messages %}{% endblock %}
    </div>
    {% include 'ap2_tutor/dashboard/includes/dp_banner.html' %}


    <!-- =======================
    Page content START -->
    <section class="pt-0">
        <div class="container">
            <div class="row">
                {% if user.profile.is_active %}
                    {% include 'ap2_tutor/dashboard/includes/dp_sidebar.html' %}
                {% endif %}
                {% block embed_messages2 %}{% endblock %}
                {% block dashboard_main_content %}{% endblock %}
            </div><!-- Row END -->
        </div>
    </section>
    <!-- =======================
    Page content END -->

    <section class="pt-0">
        <div class="container">
            <div class="row">
                {% block embed_content %}{% endblock %}
            </div>
        </div>
    </section>

</main>
<!-- **************** MAIN CONTENT END **************** -->

{% block dashboard_footer %}
    {#  {% include 'app_accounts/dashboard/includes/dashboard_footer.html' %}#}
      {% include 'ap2_tutor/dashboard/includes/dp_footer.html' %}

{% endblock %}

{% block dt_modal %}{% endblock %}
<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>


<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>


{% block scripts_vendors %}{% endblock %}

<!-- Template Functions -->
<script src="{% static 'assets/js/functions.min.js' %}"></script>
<script src="{% static 'assets/js/avr.min.js' %}"></script>

{% block embed_script %}{% endblock %}
{% block my_scripts %}{% endblock %}
</body>
</html>