{% load static %}
<!-- Left sidebar START -->
<div class="col-xl-3">
  <!-- Responsive offcanvas body START -->
  <div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar">
    <!-- Offcanvas header -->
    <div class="offcanvas-header bg-light">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">My profile</h5>
      <button  type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
    </div>
    <!-- Offcanvas body -->
    <div class="offcanvas-body p-3 p-xl-0">
      <div class="bg-dark border rounded-3 p-3 w-100">
        <!-- Dashboard menu -->
        <div class="list-group list-group-dark list-group-borderless collapse-list">
          <a class="list-group-item {% if 'panel' in request.path %}active{% endif %}" href="{% url 'accounts:ds_home' %}"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Dashboard</a>
          <a class="list-group-item {% if 'student-subscription' in request.path %}active{% endif %}" href="student-subscription.html"><i class="bi bi-card-checklist fa-fw me-2"></i>My Subscription</a>
          <a class="list-group-item {% if 'student-subscription' in request.path %}active{% endif %}" href="student-subscription.html"><i class="bi bi-bookmark-star fa-fw me-2"></i>My Favorite Tutors</a>
          <a class="list-group-item {% if 'student-subscription' in request.path %}active{% endif %}" href="student-subscription.html"><i class="bi bi-calendar-week fa-fw me-2"></i>My Calender</a>
          <a class="list-group-item {% if 'student-class-list' in request.path %}active{% endif %}" href="{% url 'accounts:ds_class_list' %}"><i class="bi bi-basket fa-fw me-2"></i>My Classes</a>
          <a class="list-group-item {% if 'course-resume' in request.path %}active{% endif %}" href="{% url 'accounts:ds_course_resume' %}"><i class="far fa-fw fa-file-alt me-2"></i>Course Resume</a>
          <a class="list-group-item {% if 'student-quiz' in request.path %}active{% endif %}" href="student-quiz.html"><i class="bi bi-question-diamond fa-fw me-2"></i>Quiz</a>
          <a class="list-group-item {% if 'student-payment-info' in request.path %}active{% endif %}" href="student-payment-info.html"><i class="bi bi-credit-card-2-front fa-fw me-2"></i>Payment Info</a>
          <a class="list-group-item {% if 'student-bookmark' in request.path %}active{% endif %}" href="student-bookmark.html"><i class="bi bi-cart-check fa-fw me-2"></i>Wishlist Tutors/Courses</a>
          <a class="list-group-item {% if 'edit-profile' in request.path %}active{% endif %}" href="instructor-edit-profile.html"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit Profile</a>
          <a class="list-group-item {% if 'setting' in request.path %}active{% endif %}" href="instructor-setting.html"><i class="bi bi-gear fa-fw me-2"></i>Settings</a>
          <a class="list-group-item {% if 'delete-account' in request.path %}active{% endif %}" href="instructor-delete-account.html"><i class="bi bi-trash fa-fw me-2"></i>Delete Profile</a>
          <a class="list-group-item text-danger bg-danger-soft-hover" href="{% url 'accounts:sign_out' %}"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Sign Out</a>
          <!-- Collapse menu -->
          <a class="list-group-item" data-bs-toggle="collapse" href="#collapseauthentication" role="button" aria-expanded="false" aria-controls="collapseauthentication">
            <i class="bi bi-lock fa-fw me-2"></i>Dropdown level
          </a>
          <!-- Submenu -->
          <ul class="nav collapse flex-column" id="collapseauthentication" data-bs-parent="#navbar-sidebar">
            <li class="nav-item"> <a class="nav-link" href="#">Dropdown item</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Dropdown item</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Responsive offcanvas body END -->
</div>
<!-- Left sidebar END -->