<!-- templates/checkout.html -->
{% extends 'app_pages/base.html' %}
{% load static %}

{% block head_title %}Checkout{% endblock %}

{% block body_content %}
    <main>
        <section class="pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-body shadow p-4">
                            <h4 class="mb-4">Order Summary</h4>
                            <p>Total Amount: $21.50</p>
                            <button id="checkout-button" class="btn btn-primary">Pay with Stripe</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}');
        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function() {
            checkoutButton.innerHTML = `Processing <i class='fas fa-spinner fa-spin ms-2'></i>`;
            checkoutButton.disabled = true;

            fetch("/create-checkout-session/", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
                .then(function(response) {
                    return response.json();
                })
                .then(function(session) {
                    if (session.error) {
                        alert(session.error);
                        checkoutButton.innerHTML = 'Pay with Stripe';
                        checkoutButton.disabled = false;
                    } else {
                        return stripe.redirectToCheckout({ sessionId: session.sessionId });
                    }
                })
                .then(function(result) {
                    if (result && result.error) {
                        alert(result.error.message);
                        checkoutButton.innerHTML = 'Pay with Stripe';
                        checkoutButton.disabled = false;
                    }
                })
                .catch(function(error) {
                    console.log('Error:', error);
                    checkoutButton.innerHTML = 'Pay with Stripe';
                    checkoutButton.disabled = false;
                });
        });
    </script>
{% endblock %}