<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">College Schedule Helper</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Github</a></li>
      <li><a href="#">v0.0.1</a></li>
    </ul>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="row center" id="react-schedule"></div>
    <br><br>
  </div>
</div>
<div class="container lower-half">
  <div class="row">
    <div class="component col l6 s12">
      <div class="header center">Schedule</div>
      <div class="schedule-body">
        <div class="courses">
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
          <div class="course card">
            Course
            <i class="material-icons disable-icon">clear</i>
            <i class="material-icons trash-icon">delete</i>
          </div>
        </div>
        <div class="schedule-combinations center">Multiple Schedules: Coming Soon!</div>
      </div>
    </div>
    <div class="component col l6 s12">
      <div class="header center">Course Search</div>
      <div class="body">
        <div class="search">
          <div class="search-bar card">
            <input id="search-bar" style="">
            <i class="material-icons search-icon">search</i>
          </div>
        </div>
        <div class="search-results">
          <div class="search-result card">
            Search Result
            <i class="material-icons add-icon">add</i>
          </div>
          <div class="search-result card">
            Search Result
            <i class="material-icons add-icon">add</i>
          </div>
          <div class="search-result card">
            Search Result
            <i class="material-icons add-icon">add</i>
          </div>
          <div class="search-result card">
            Search Result
            <i class="material-icons add-icon">add</i>
          </div>
          <div class="search-result card">
            Search Result
            <i class="material-icons add-icon">add</i>
          </div>
        </div>
      </div>
      <div class="header center">Custom Event</div>
      <div class="body center" style="padding:25px;">
        Custom Events: Coming Soon!
      </div>
    </div>
  </div>
</div>
<br/><br/>
<footer class="page-footer light-blue lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Settings:</h5>
        <p class="grey-text text-lighten-4">Select Semester: Coming Soon!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Our Other Projects:</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Spotify Transition</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      By Eddie Azinge and Brian Joerger
      <a class="grey-text text-lighten-4 right" href="#!">GitHub</a>
    </div>
  </div>
</footer>