{% extends 'app_accounts/dashboard/tutor/dt_base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_style_plugins %}
  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/choices/css/choices.min.css' %}">
{% endblock %}


{% block dashboard_main_content %}
  <!-- Main content START -->
  <div class="col-xl-9">
    <!-- Edit profile START -->
    <div class="card bg-transparent border rounded-3">
      <!-- Card header -->
      <div class="card-header bg-transparent border-bottom">
        <h3 class="card-header-title mb-0">Edit Profile</h3>
      </div>
      <!-- ################################################################### -->


      <!-- Card body START -->
      <div class="card-body">
        <!-- Form -->
        <form class="row g-4" action="{% url 'accounts:dt_edit_profile' tutor.profile.pk %}" method="POST"
              enctype="multipart/form-data">
          {% csrf_token %}

          <!-- Profile picture -->
          <div class="col-12 justify-content-center align-items-center">
            <label class="form-label">Profile picture</label>
            <div class="d-flex align-items-center">
              <label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
                <!-- Avatar place holder -->
                <span class="avatar avatar-xl">
											<img id="uploadfile-1-preview"
                           class="avatar-img rounded-circle border border-white border-3 shadow"
                           src="{{ tutor.photo.url }}" alt="">
										</span>
                <!-- Remove btn -->
                <button type="button" class="uploadremove"><i class="bi bi-x text-white"></i></button>
              </label>
              <!-- Upload button -->
              <label class="btn btn-primary-soft mb-0" for="uploadfile-1">Change</label>
              <input id="uploadfile-1" class="form-control d-none" type="file">
              {{ form.photo }}
            </div>
          </div>

          <!-- Full name -->
          <div class="col-12">
            <label class="form-label">Full name</label>
            <div class="input-group">
              {{ form.first_name }}
              {{ form.last_name }}
            </div>
          </div>


          <!-- Title -->
          <div class="col-md-6">
            <label class="form-label">Title</label>
            {{ form.title }}
          </div>

          <!-- Phone number -->
          <div class="col-md-6">
            <label class="form-label">Phone number</label>
            {{ form.phone }}
          </div>

          <!-- Username -->
          <div class="col-md-6">
            <label class="form-label">Username</label>
            <div class="input-group">
              <span class="input-group-text">{{ site_info.text_1 }}</span>
              {{ form.username }}
            </div>
            {% for error in form.username.errors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
          </div>

          <!-- Email id -->
          <div class="col-md-6">
            <label class="form-label">Email id</label>
            {{ form.email }}
          </div>

          <!-- Cost Trial -->
          <div class="col-md-6">
            <label class="form-label">Trial Session Cost</label>
            <div class="input-group mb-3">
              {{ form.cost_trial }}
              <label class="input-group-text">$</label>
            </div>
          </div>

          <!-- Cost Hourly -->
          <div class="col-md-6">
            <label class="form-label">Hourly Cost</label>
            <div class="input-group mb-3">
              {{ form.cost_hourly }}
              <label class="input-group-text">$</label>
            </div>
          </div>

          <!-- Lang Native -->
          <div class="col-md-6">
            <label class="form-label">Native Language</label>
            <select name="lang_native" class="form-select js-choice border-0 z-index-9 bg-transparent" required
                    aria-label=".form-select-sm" data-search-enabled="false" data-remove-item-button="true">
              <option value="">Select your native language</option>
              {% for value, label in form.lang_native.field.choices %}
                <option value="{{ value }}" {% if form.lang_native.value == value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
            </select>
            {{ form.lang_native.errors }}
          </div>

          <!-- Speaking Languages temp -->
{#          <div class="col-md-6">#}
{#            <label class="form-label">Speaking Languages</label>#}
{#            <select name="lang_native" class="form-select js-choice border-0 z-index-9 bg-transparent" required#}
{#                    aria-label=".form-select-sm" data-search-enabled="false" data-remove-item-button="true">#}
{#              <option value="">Select your Speaking language</option>#}
{#              {% for value, label in form.lang_speak.field.choices %}#}
{#                <option value="{{ value }}" {% if form.lang_speak.value == value %}selected{% endif %}>{{ label }}</option>#}
{#              {% endfor %}#}
{#            </select>#}
{#            {{ form.lang_speak.errors }}#}
{#          </div>#}


          <!-- Speaking Languages -->
{#          <div class="col-md-6">#}
{#            <label class="form-label">Speaking Languages</label>#}
{#            <select class="form-select js-choice border-0 z-index-9 bg-transparent" required#}
{#                    multiple="multiple" aria-label=".form-select-sm" data-max-item-count="4"#}
{#                    data-remove-item-button="true">#}
{#              <option value="">Select language</option>#}
{#              {% for language in form.lang_speak.field.queryset %}#}
{#                <option value="{{ language.id }}"#}
{#                        {% if language.id|stringformat:"s" in form.lang_speak.value|stringformat:"s" %}selected{% endif %}>{{ language.name }}</option>#}
{#              {% endfor %}#}
{#            </select>#}
{#            {{ form.lang_speak }}#}
{#          </div>#}


          <div class="col-md-6">
            <label class="form-label">Speaking Languages</label>
            <select name="lang_speak" multiple="multiple" class="form-select js-choice border-0 z-index-9 bg-transparent"
                    required aria-label=".form-select-sm" data-max-item-count="4"
                    data-remove-item-button="true">
              <option value="">Select language</option>
              {% for language in form.lang_speak.field.queryset %}
                <option value="{{ language.id }}"
                        {% if language.id|stringformat:"s" in form.lang_speak.value|stringformat:"s" %}selected{% endif %}>
                  {{ language.name }}
                </option>
              {% endfor %}
            </select>
            {{ form.lang_speak.errors }}
          </div>



          {#                    <div class="col-md-6">#}
          {#                      <label class="form-label">Speaking Languages</label>#}
          {#                      <select class="form-select js-choice border-0 z-index-9 bg-transparent"#}
          {#                              multiple="multiple" aria-label=".form-select-sm" data-max-item-count="4"#}
          {#                              data-remove-item-button="true" name="lang_speak">#}
          {#                        <option value="">Select language</option>#}
          {#                        {% for language in form.lang_speak.field.queryset %}#}
          {#                          <option value="{{ language.id }}" {% if language.id|stringformat:"s" in form.lang_speak.value|stringformat:"s" %}selected{% endif %}>{{ language.name }}</option>#}
          {#                        {% endfor %}#}
          {#                      </select>#}
          {#                      <p>Selected Languages: {{ form.lang_speak.value }}</p>  <!-- Debug information -->#}
          {#                      <ul>#}
          {#                        {% for language in form.lang_speak.field.queryset %}#}
          {#                          <li>{{ language.name }} ({{ language.id }}) - Selected: {% if language.id|stringformat:"s" in form.lang_speak.value|stringformat:"s" %}Yes{% else %}No{% endif %}</li>#}
          {#                        {% endfor %}#}
          {#                      </ul>#}
          {#                    </div>#}


          <!-- Skills -->
          {#          <div class="col-md-6">#}
          {#            <label class="form-label">Teaching Skills</label>#}
          {#            <select class="form-select js-choice border-0 z-index-9 bg-transparent"#}
          {#                    multiple="multiple" aria-label=".form-select-sm" data-max-item-count="6"#}
          {#                    data-remove-item-button="true">#}
          {#              <option value="">Select Skills</option>#}
          {#              {% for skill in form.skills.field.queryset %}#}
          {#                <option value="{{ skill.id }}"#}
          {#                        {% if skill.id|stringformat:"s" in form.skills.value|stringformat:"s" %}selected{% endif %}>{{ skill.name }}</option>#}
          {#              {% endfor %}#}
          {#            </select>#}
          {#          </div>#}


          <!-- language_levels -->
          {#          <div class="col-md-6">#}
          {#            <label class="form-label">Language Levels</label>#}
          {#            <select class="form-select js-choice border-0 z-index-9 bg-transparent"#}
          {#                    multiple="multiple" aria-label=".form-select-sm" data-max-item-count="6"#}
          {#                    data-remove-item-button="true">#}
          {#              <option value="">Select levels</option>#}
          {#              {% for level in form.language_levels.field.queryset %}#}
          {#                <option value="{{ level.id }}"#}
          {#                        {% if level.id|stringformat:"s" in form.language_levels.value|stringformat:"s" %}selected{% endif %}>{{ level.name }}</option>#}
          {#              {% endfor %}#}
          {#            </select>#}
          {#          </div>#}


          <!-- Location -->
          {#          <div class="col-md-6">#}
          {#            <label class="form-label">Location (Country)</label>#}
          {#            <select class="form-select js-choice border-0 z-index-9 bg-transparent" required#}
          {#                    aria-label=".form-select-sm" data-search-enabled="true" data-remove-item-button="true">#}
          {#              <option value="">Choose your country</option>#}
          {#              {% for value, label in form.country.field.choices %}#}
          {#                <option value="{{ value }}" {% if form.country.value == value %}selected{% endif %}>{{ label }}</option>#}
          {#              {% endfor %}#}
          {#            </select>#}
          {#          </div>#}

          <!-- Introduction video -->
          <div class="col-12">
            <label class="form-label">Introduction video</label>
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile01" value="#">
              {{ form.video_intro }}
              <label class="input-group-text">.mp4</label>
            </div>
          </div>


          <!-- About me -->
          <div class="col-12">
            <label class="form-label">About me</label>
                <textarea class="form-control" rows="3">AAA</textarea>
{#            {{ form.bio|striptags }}#}
            <div class="form-text">Brief description for your profile.</div>
          </div>

          <!-- Save button -->
          <div class="d-sm-flex justify-content-end">
            <button type="submit" class="btn btn-primary mb-0">Save changes</button>
          </div>
        </form>

      </div>
      <!-- Card body END -->


    </div>
    <!-- Edit profile END -->

    <div class="row g-4 mt-3">
      <!-- Linked account START -->
      <div class="col-lg-6">
        <div class="card bg-transparent border rounded-3">
          <!-- Card header -->
          <div class="card-header bg-transparent border-bottom">
            <h5 class="card-header-title mb-0">Linked account</h5>
          </div>
          <!-- Card body START -->
          <div class="card-body pb-0">
            <!-- Google -->
            <div class="position-relative mb-4 d-sm-flex bg-success bg-opacity-10 border border-success p-3 rounded">
              <!-- Title and content -->
              <h2 class="fs-1 mb-0 me-3"><i class="fab fa-google text-google-icon"></i></h2>
              <div>
                <div class="position-absolute top-0 start-100 translate-middle bg-white rounded-circle lh-1 h-20px">
                  <i class="bi bi-check-circle-fill text-success fs-5"></i>
                </div>
                <h6 class="mb-1">Google</h6>
                <p class="mb-1 small">You are successfully connected to your Google account</p>
                <!-- Button -->
                <button type="button" class="btn btn-sm btn-danger mb-0">Invoke</button>
                <a href="#" class="btn btn-sm btn-link text-body mb-0">Learn more</a>
              </div>
            </div>

            <!-- Linkedin -->
            <div class="mb-4 d-sm-flex border p-3 rounded">
              <!-- Title and content -->
              <h2 class="fs-1 mb-0 me-3"><i class="fab fa-linkedin-in text-linkedin"></i></h2>
              <div>
                <h6 class="mb-1">Linkedin</h6>
                <p class="mb-1 small">Connect with Linkedin account for a personalized experience</p>
                <!-- Button -->
                <button type="button" class="btn btn-sm btn-primary mb-0">Connect Linkedin</button>
                <a href="#" class="btn btn-sm btn-link text-body mb-0">Learn more</a>
              </div>
            </div>

            <!-- Facebook -->
            <div class="mb-4 d-sm-flex border p-3 rounded">
              <!-- Title and content -->
              <h2 class="fs-1 mb-0 me-3"><i class="fab fa-facebook text-facebook"></i></h2>
              <div>
                <h6 class="mb-1">Facebook</h6>
                <p class="mb-1 small">Connect with Facebook account for a personalized experience</p>
                <!-- Button -->
                <button type="button" class="btn btn-sm btn-primary mb-0">Connect Facebook</button>
                <a href="#" class="btn btn-sm btn-link text-body mb-0">Learn more</a>
              </div>
            </div>
          </div>
          <!-- Card body END -->
        </div>
      </div>
      <!-- Linked account end -->

      <!-- Social media profile START -->
      <div class="col-lg-6">
        <div class="card bg-transparent border rounded-3">
          <!-- Card header -->
          <div class="card-header bg-transparent border-bottom">
            <h5 class="card-header-title mb-0">Social media profile</h5>
          </div>
          <!-- Card body START -->
          <div class="card-body">
            <!-- Facebook username -->
            <div class="mb-3">
              <label class="form-label"><i class="fab fa-facebook text-facebook me-2"></i>Enter facebook
                username</label>
              <input class="form-control" type="text" value="{{ tutor.profile.url_facebook }}" placeholder="Enter username">
            </div>

            <!-- Twitter username -->
            <div class="mb-3">
              <label class="form-label"><i class="bi bi-twitter text-twitter me-2"></i>Enter twitter username</label>
              <input class="form-control" type="text" value="{{ tutor.profile.url_twitter }}" placeholder="Enter username">
            </div>

            <!-- Instagram username -->
            <div class="mb-3">
              <label class="form-label"><i class="fab fa-instagram text-instagram-gradient me-2"></i>Enter instagram
                username</label>
              <input class="form-control" type="text" value="{{ tutor.profile.url_insta }}" placeholder="Enter username">
            </div>

            <!-- Youtube -->
            <div class="mb-3">
              <label class="form-label"><i class="fab fa-youtube text-youtube me-2"></i>Add your youtube profile
                URL</label>
              <input class="form-control" type="text" value="{{ tutor.profile.url_youtube }}" placeholder="Enter username">
            </div>

            <!-- Button -->
            <div class="d-flex justify-content-end mt-4">
              <button type="button" class="btn btn-primary mb-0">Save changes</button>
            </div>
          </div>
          <!-- Card body END -->
        </div>
      </div>
      <!-- Social media profile END -->

      <!-- EMail change START -->
      <div class="col-lg-6">
        <div class="card bg-transparent border rounded-3">
          <!-- Card header -->
          <div class="card-header bg-transparent border-bottom">
            <h5 class="card-header-title mb-0">Update email</h5>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <p>Your current email address is <span class="text-primary">example@gmail.com</span></p>
            <!-- Email -->
            <form>
              <label class="form-label">Enter your new email id</label>
              <input class="form-control" type="email" placeholder="Enter new email">
              <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-primary mb-0">Update email</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- EMail change end -->

      <!-- Password change START -->
      <div class="col-lg-6">
        <div class="card border bg-transparent rounded-3">
          <!-- Card header -->
          <div class="card-header bg-transparent border-bottom">
            <h5 class="card-header-title mb-0">Update password</h5>
          </div>
          <!-- Card body START -->
          <div class="card-body">
            <!-- Current password -->
            <div class="mb-3">
              <label class="form-label">Current password</label>
              <input class="form-control" type="password" placeholder="Enter current password">
            </div>
            <!-- New password -->
            <div class="mb-3">
              <label class="form-label"> Enter new password</label>
              <div class="input-group">
                <input class="form-control" type="password" placeholder="Enter new password">
                <span class="input-group-text p-0 bg-transparent">
                <i class="far fa-eye cursor-pointer p-2 w-40px"></i>
              </span>
              </div>
              <div class="rounded mt-1" id="psw-strength"></div>
            </div>
            <!-- Confirm password -->
            <div>
              <label class="form-label">Confirm new password</label>
              <input class="form-control" type="password" placeholder="Enter new password">
            </div>
            <!-- Button -->
            <div class="d-flex justify-content-end mt-4">
              <button type="button" class="btn btn-primary mb-0">Change password</button>
            </div>
          </div>
          <!-- Card body END -->
        </div>
      </div>
      <!-- Password change end -->
    </div>
  </div>
  <!-- Main content END -->
{% endblock %}
{% block scripts_vendors %}
  <script src="{% static 'assets/vendor/choices/js/choices.min.js' %}"></script>
{% endblock %}
{% block my_scripts %}
  <script>
    document.getElementById('uploadfile-1').addEventListener('change', function (event) {
      var reader = new FileReader();
      reader.onload = function () {
        var output = document.getElementById('uploadfile-1-preview');
        output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    });

    document.querySelector('.uploadremove').addEventListener('click', function () {
      var output = document.getElementById('uploadfile-1-preview');
      var fileInput = document.getElementById('uploadfile-1');

      // Set the image source to a placeholder or empty value
      output.src = '{% static 'app_accounts/img/avatar/default.png' %}';

      // Clear the file input value
      fileInput.value = '';
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const choices = new Choices('.js-choice', {
        searchEnabled: false,
        removeItemButton: true,
      });
    });
  </script>


{% endblock %}