{% extends 'app_pages/base.html' %}
{% load static %}
{% load my_custom_filters %}
{% block head_title %}Tutor List{% endblock %}
{% block head_style_plugins %}
    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/choices/css/choices.min.css' %}">
{% endblock %}

{% block body_content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Page Banner START -->
        <section class="py-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bg-dark p-4 text-center rounded-3">
                            <h1 class="text-white m-0">Tutor list</h1>
                            <!-- Breadcrumb -->
                            <div class="d-flex justify-content-center">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                                        <li class="breadcrumb-item"><a href="{% url 'app_pages:home' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Tutor list</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Page Banner END -->

        <!-- =======================
        Inner part START -->
        <section class="pt-4">
            <div class="container">

                <!-- Filter bar START -->
                {#        <form class="bg-light border p-4 rounded-3 my-4 z-index-9 position-relative">#}
                {#          <div class="row g-3">#}
                {#            <!-- Input -->#}
                {#            <div class="col-xl-3">#}
                {#              <input class="form-control me-1" type="search" placeholder="Enter keyword">#}
                {#            </div>#}
                {##}
                {#            <!-- First row of select items -->#}
                {#            <div class="col-xl-8">#}
                {#              <div class="row g-3">#}
                {#                <!-- Select items -->#}
                {#                <div class="col-sm-6 col-md-3 pb-2 pb-md-0">#}
                {#                  <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">#}
                {#                    <option value="">Categories</option>#}
                {#                    <option>All</option>#}
                {#                    <option>Development</option>#}
                {#                    <option>Design</option>#}
                {#                    <option>Accounting</option>#}
                {#                    <option>Translation</option>#}
                {#                    <option>Finance</option>#}
                {#                    <option>Legal</option>#}
                {#                    <option>Photography</option>#}
                {#                    <option>Writing</option>#}
                {#                    <option>Marketing</option>#}
                {#                  </select>#}
                {#                </div>#}
                {##}
                {#                <!-- Search item -->#}
                {#                <div class="col-sm-6 col-md-3 pb-2 pb-md-0">#}
                {#                  <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">#}
                {#                    <option value="">Price level</option>#}
                {#                    <option>All</option>#}
                {#                    <option>Free</option>#}
                {#                    <option>Paid</option>#}
                {#                  </select>#}
                {#                </div>#}
                {##}
                {#                <!-- Search item -->#}
                {#                <div class="col-sm-6 col-md-3 pb-2 pb-md-0">#}
                {#                  <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">#}
                {#                    <option value="">Skill level</option>#}
                {#                    <option>All levels</option>#}
                {#                    <option>Beginner</option>#}
                {#                    <option>Intermediate</option>#}
                {#                    <option>Advanced</option>#}
                {#                  </select>#}
                {#                </div>#}
                {##}
                {#                <!-- Search item -->#}
                {#                <div class="col-sm-6 col-md-3 pb-2 pb-md-0">#}
                {#                  <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">#}
                {#                    <option value="">Language</option>#}
                {#                    <option>English</option>#}
                {#                    <option>Francas</option>#}
                {#                    <option>Russian</option>#}
                {#                    <option>Hindi</option>#}
                {#                    <option>Bengali</option>#}
                {#                    <option>Spanish</option>#}
                {#                  </select>#}
                {#                </div>#}
                {#              </div> #}
                {#              <!-- First Row END -->#}
                {##}
                {#              <!-- Second row of select items -->#}
                {#              <div class="row g-3 mt-2">#}
                {#                <!-- Additional filter options -->#}
                {#                <div class="col-sm-6 col-md-3 pb-2 pb-md-0">#}
                {#                  <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">#}
                {#                    <option value="">Duration</option>#}
                {#                    <option>All</option>#}
                {#                    <option>Short (0-1 hour)</option>#}
                {#                    <option>Medium (1-3 hours)</option>#}
                {#                    <option>Long (3+ hours)</option>#}
                {#                  </select>#}
                {#                </div>#}
                {##}
                {#                <!-- Additional filter options -->#}
                {#                <div class="col-sm-6 col-md-3 pb-2 pb-md-0">#}
                {#                  <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">#}
                {#                    <option value="">Rating</option>#}
                {#                    <option>All</option>#}
                {#                    <option>5 Stars</option>#}
                {#                    <option>4 Stars & up</option>#}
                {#                    <option>3 Stars & up</option>#}
                {#                    <option>2 Stars & up</option>#}
                {#                    <option>1 Star & up</option>#}
                {#                  </select>#}
                {#                </div>#}
                {##}
                {#                <!-- Additional filter options -->#}
                {#                <div class="col-sm-6 col-md-3 pb-2 pb-md-0">#}
                {#                  <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">#}
                {#                    <option value="">Format</option>#}
                {#                    <option>All</option>#}
                {#                    <option>Video</option>#}
                {#                    <option>Text</option>#}
                {#                    <option>Audio</option>#}
                {#                    <option>Interactive</option>#}
                {#                  </select>#}
                {#                </div>#}
                {##}
                {#                <!-- Additional filter options -->#}
                {#                <div class="col-sm-6 col-md-3 pb-2 pb-md-0">#}
                {#                  <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">#}
                {#                    <option value="">Certification</option>#}
                {#                    <option>All</option>#}
                {#                    <option>Yes</option>#}
                {#                    <option>No</option>#}
                {#                  </select>#}
                {#                </div>#}
                {#              </div> #}
                {#              <!-- Second Row END -->#}
                {#            </div>#}
                {##}
                {#            <!-- Button -->#}
                {#            <div class="col-xl-1">#}
                {#              <button type="button" class="btn btn-primary mb-0 rounded z-index-1 w-100"><i class="fas fa-search"></i></button>#}
                {#            </div>#}
                {#          </div> <!-- Row END -->#}
                {#        </form>#}
                <!-- Filter bar END -->


                <!-- Filter bar START -->
                <form id="fSearch" class="bg-light border p-4 rounded-3 my-4 z-index-9 position-relative"
                      action="{% url 'provider:tutor_list' %}" method="GET">
                    {% csrf_token %}
                    <div class="row g-3">
                        <!-- Input -->
                        {#            <div class="col-xl-3">#}
                        {#              <input class="form-control me-1" type="search" placeholder="Enter keyword">#}
                        {#            </div>#}

                        <!-- First row of select items -->
                        <div class="col-xl-12">
                            <div class="row g-3">

                                <!-- Search item: Skills -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <select name="skills" class="form-select form-select-sm js-choice"
                                            aria-label=".form-select-sm example">
                                        <option value="">Teaching Skills</option>
                                        {% for skill in s_skills %}
                                            <option value="{{ skill }}">{{ skill }}</option>
                                        {% endfor %}
                                    </select>
                                </div>


                                <!-- Search item: Skill level -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <select name="sSkillLevel" class="form-select form-select-sm js-choice"
                                            aria-label=".form-select-sm example">
                                        <option value="">Skill level</option>
                                        {% for level in s_language_levels %}
                                            <option value="{{ level }}">{{ level.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Search item: cost_hourly -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <select name="sHprice" class="form-select form-select-sm js-choice"
                                            aria-label=".form-select-sm example">
                                        <option value="">Hourly Price</option>
                                        {% for cost in s_cost_hourly %}
                                            <option value="{{ cost }}">{{ cost }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Search item: cost_trial -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <select class="form-select form-select-sm js-choice"
                                            aria-label=".form-select-sm example">
                                        <option value="">Trial Cost</option>
                                        {% for cost in s_cost_trial %}
                                            <option value="{{ cost }}">{{ cost }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- filter options: Gender -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <select id="gender" name="gender" class="form-select form-select-sm js-choice"
                                            aria-label=".form-select-sm example">
                                        <option value="">Gender</option>
                                        {% for gender in s_gender %}
                                            <option value="{{ gender }}">{{ gender|capfirst }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Search item -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    {#                  <div class="col-xl-3">#}
                                    <input class="form-control me-1" type="search" name="keySearch"
                                           placeholder="Enter keyword">
                                    {#                  </div>#}
                                </div>


                            </div>
                            <!-- First Row END -->

                            <!-- Second row of select items -->
                            <div class="row g-3 mt-2">
                                <!-- Additional filter options -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <select class="form-select form-select-sm js-choice"
                                            aria-label=".form-select-sm example">
                                        <option value="">Duration</option>
                                        <option>All</option>
                                        <option>Short (0-1 hour)</option>
                                        <option>Medium (1-3 hours)</option>
                                        <option>Long (3+ hours)</option>
                                    </select>
                                </div>

                                <!-- Additional filter options -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <select id="sRate" name="sRate" class="form-select form-select-sm js-choice"
                                            aria-label=".form-select-sm example">
                                        <option value="">Rating</option>
                                        <option value="5">5 Stars 5</option>
                                        <option value="4">4 Stars & up</option>
                                        <option value="3">3 Stars & up</option>
                                        <option value="2">2 Stars & up</option>
                                        <option value="1">1 Star & up</option>
                                    </select>
                                </div>

                                <!-- filter options: session_count -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <select class="form-select form-select-sm js-choice"
                                            aria-label=".form-select-sm example">
                                        <option value="">Session Number</option>
                                        <option>All</option>
                                        <option>Video</option>
                                        <option>Text</option>
                                        <option>Audio</option>
                                        <option>Interactive</option>
                                    </select>
                                </div>

                                <!-- filter options: student_count -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <select class="form-select form-select-sm js-choice"
                                            aria-label=".form-select-sm example">
                                        <option value="">Student Number</option>
                                        <option>All</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                                <!--filter options: course_count -->
                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <select class="form-select form-select-sm js-choice"
                                            aria-label=".form-select-sm example">
                                        <option value="">Course Number</option>
                                        <option>All</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>

                                <div class="col-sm-6 col-md-2 pb-2 pb-md-0">
                                    <button type="submit" class="btn btn-primary mb-0 rounded z-index-1 w-100"><i
                                            class="fas fa-search"></i></button>
                                </div>
                            </div>
                            <!-- Second Row END -->

                            <!-- Button -->
                            {#              <div class="col-xl-1">#}
                            {#                <button type="button" class="btn btn-primary mb-0 rounded z-index-1 w-100"><i class="fas fa-search"></i></button>#}
                            {#              </div>#}

                        </div>

                        <!-- Button -->
                        {#            <div class="col-xl-1">#}
                        {#              <button type="button" class="btn btn-primary mb-0 rounded z-index-1 w-100"><i class="fas fa-search"></i></button>#}
                        {#            </div>#}

                    </div> <!-- Row END -->
                </form>
                <!-- Filter bar END -->

                <!-- Tutor list START -->
                <div class="row g-4 justify-content-center">
                    {% for tutor in tutors_accepted %}
                        <!-- Card item START -->
                        <div class="col-lg-10 col-xl-6">
                            <div class="card shadow p-2">
                                <div class="row g-0" style="max-height: 225px;min-height: 225px">
                                    <!-- Image -->
                                    <div class="col-md-4">
                                        <a href="{% url 'provider:tutor_detail' tutor.pk %}">
                                            <img src="{{ tutor.profile.photo.url }}"
                                                 class="rounded-3 w-100 h-100 object-fit-cover"
                                                 style="max-height: 225px; min-height: 225px"
                                                 alt="{{ tutor.profile.user.first_name }} {{ tutor.profile.user.last_name }}">
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <!-- Title -->
                                            <div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
                                                <div>
                                                    <h5 class="card-title mb-0"><a
                                                            href="{% url 'provider:tutor_detail' tutor.pk %}">{{ tutor.profile.user.first_name }} {{ tutor.profile.user.last_name }}</a>
                                                    </h5>
                                                    <p class="small mb-2 mb-sm-0">{{ tutor.title }}</p>
                                                    <p class="small mb-2 mb-sm-0">
                                                        Students: {{ tutor.student_count }}</p>
                                                    <p class="small mb-2 mb-sm-0">Classes: {{ tutor.session_count }}</p>
                                                </div>
                                                <div>
              <span class="h6 fw-light" style="text-align: end">{{ tutor.profile.rating }}<i
                      class="fas fa-star text-warning ms-1"></i></span><br>
                                                    <span class="h8 fw-lighter"
                                                          style="font-max-size: smaller">({{ tutor.profile.reviews_count }} Votes)</span>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                            <p class="text-truncate-2 mb-3">{{ tutor.profile.bio|truncatechars:100|safe }}</p>
                                            <!-- Info -->
                                            <div class="d-sm-flex justify-content-sm-between align-items-center">
                                                <!-- Title / Skills-->
                                                <h6 class="text-orange mb-0">
                                                    {% with skills=tutor.profile.user.skills.all|status:'approved' %}
                                                        {% if skills|length == 0 %}
                                                            <span>No skills available</span>
                                                        {% else %}
                                                            {% for skill in skills %}
                                                                <span>{{ skill.skill }}</span> |
                                                            {% endfor %}
                                                            {% if skills|length > 3 %}
                                                                <a href="{% url 'provider:tutor_detail' tutor.profile.id %}">...</a>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endwith %}
                                                </h6>


                                                <!-- Social button -->
                                                {#                        <ul class="list-inline mb-0 mt-3 mt-sm-0">#}
                                                {#                          <li class="list-inline-item">#}
                                                {#                            <a class="mb-0 me-1 text-facebook" href="{{ tutor.profile.url_facebook }}"><i#}
                                                {#                              class="fab fa-fw fa-facebook-f"></i></a>#}
                                                {#                          </li>#}
                                                {#                          <li class="list-inline-item">#}
                                                {#                            <a class="mb-0 me-1 text-instagram-gradient" href="{{ tutor.profile.url_insta }}"><i#}
                                                {#                              class="fab fa-fw fa-instagram"></i></a>#}
                                                {#                          </li>#}
                                                {#                          <li class="list-inline-item">#}
                                                {#                            <a class="mb-0 me-1 text-twitter" href="{{ tutor.profile.url_twitter }}"><i#}
                                                {#                              class="fab fa-fw fa-twitter"></i></a>#}
                                                {#                          </li>#}
                                                {#                          <li class="list-inline-item">#}
                                                {#                            <a class="mb-0 text-linkedin" href="{{ tutor.profile.url_linkedin }}"><i#}
                                                {#                              class="fab fa-fw fa-linkedin-in"></i></a>#}
                                                {#                          </li>#}
                                                {#                        </ul>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                    {% endfor %}
                </div>
                <!-- Tutor list END -->

                <!-- Pagination START -->
                <nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
                    {% if page_obj.has_other_pages %}
                        <ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                            {% if page_obj.has_previous %}
                                <li class="page-item mb-0"><a class="page-link" href="?



                                        {% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}"
                                                              tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
                                </li>
                            {% else %}
                                <li class="page-item mb-0 disabled"><a class="page-link" href="#" tabindex="-1"><i
                                        class="fas fa-angle-double-left" style="color: #d3d3d3;"></i></a></li>
                            {% endif %}

                            {% for p in page_obj.paginator.page_range %}
                                {% if p == 1 or p == 2 or p == page_obj.paginator.num_pages or p == page_obj.paginator.num_pages|add:'-1' or p == page_obj.number %}
                                    {% if p == page_obj.number %}
                                        <li class="page-item mb-0 active"><a class="page-link" href="#">{{ p }}</a></li>
                                    {% else %}
                                        <li class="page-item mb-0"><a class="page-link" href="?



                                                {% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ p }}">{{ p }}</a>
                                        </li>
                                    {% endif %}
                                {% elif p == page_obj.number|add:'1' or p == page_obj.number|add:'-1' %}
                                    <li class="page-item mb-0"><a class="page-link" href="?



                                            {% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ p }}">{{ p }}</a>
                                    </li>
                                {% elif p == page_obj.number|add:'2' or p == page_obj.number|add:'-2' %}
                                    <li class="page-item mb-0 disabled"><a class="page-link" href="#">...</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item mb-0"><a class="page-link" href="?



                                        {% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.next_page_number }}"><i
                                        class="fas fa-angle-double-right"></i></a></li>
                            {% else %}
                                <li class="page-item mb-0 disabled"><a class="page-link" href="#"><i
                                        class="fas fa-angle-double-right"
                                        style="color: #d3d3d3;"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav>
                <!-- Pagination END -->

            </div>
        </section>
        <!-- =======================
        Inner part END -->

        <!-- =======================
        Action box START -->
        <section class="pt-0">
            <div class="container position-relative">
                <!-- SVG -->
                <figure class="position-absolute top-50 start-50 translate-middle ms-2">
                    <svg>
                        <path
                                d="m496 22.999c0 10.493-8.506 18.999-18.999 18.999s-19-8.506-19-18.999 8.507-18.999 19-18.999 18.999 8.506 18.999 18.999z"
                                fill="#fff" fill-rule="evenodd" opacity=".502"/>
                        <path
                                d="m775 102.5c0 5.799-4.701 10.5-10.5 10.5-5.798 0-10.499-4.701-10.499-10.5 0-5.798 4.701-10.499 10.499-10.499 5.799 0 10.5 4.701 10.5 10.499z"
                                fill="#fff" fill-rule="evenodd" opacity=".102"/>
                        <path
                                d="m192 102c0 6.626-5.373 11.999-12 11.999s-11.999-5.373-11.999-11.999c0-6.628 5.372-12 11.999-12s12 5.372 12 12z"
                                fill="#fff" fill-rule="evenodd" opacity=".2"/>
                        <path
                                d="m20.499 10.25c0 5.66-4.589 10.249-10.25 10.249-5.66 0-10.249-4.589-10.249-10.249-0-5.661 4.589-10.25 10.249-10.25 5.661-0 10.25 4.589 10.25 10.25z"
                                fill="#fff" fill-rule="evenodd" opacity=".2"/>
                    </svg>
                </figure>

                <div class="bg-success p-4 p-sm-5 rounded-3">
                    <div class="row justify-content-center position-relative">
                        <!-- Svg -->
                        <figure class="fill-white opacity-1 position-absolute top-50 start-0 translate-middle-y">
                            <svg width="141px" height="141px">
                                <path
                                        d="M140.520,70.258 C140.520,109.064 109.062,140.519 70.258,140.519 C31.454,140.519 -0.004,109.064 -0.004,70.258 C-0.004,31.455 31.454,-0.003 70.258,-0.003 C109.062,-0.003 140.520,31.455 140.520,70.258 Z"/>
                            </svg>
                        </figure>
                        <!-- Action box -->
                        <div class="col-11 position-relative">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-lg-7">
                                    <h3 class="text-white">Become a Tutor!</h3>
                                    <p class="text-white mb-3 mb-lg-0">Speedily say has suitable disposal add boy. On
                                        forth doubt miles of
                                        child. Exercise joy man children rejoiced. Yet uncommonly his ten who diminution
                                        astonished.</p>
                                </div>
                                <!-- Button -->
                                <div class="col-lg-5 text-lg-end">
                                    <a href="{% url 'provider:become_tutor' %}" class="btn btn-dark mb-0">Start Teaching
                                        today</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Action box END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock %}

{% block scripts_vendors %}
    <!-- Vendors -->
    <script src="{% static 'assets/vendor/choices/js/choices.min.js' %}"></script>
{% endblock %}

</body>
</html>