<!-- Profile form START -->
<form id="profileForm" action="{% url 'provider:submit_profile' %}"
      class="row g-4 needs-validation" method="POST" enctype="multipart/form-data"
      novalidate>
    {% csrf_token %}
    <input type="hidden" name="profile_form">


    <!-- Card body START -->
    <!-- Profile picture -->
    <div class="col-12 justify-content-center align-items-center">
        <label class="form-label">Profile picture </label> <i class="bi bi-info-circle text-primary"
                                                              data-bs-toggle="tooltip"
                                                              title="{{ CFChar.tooltip_photo }}"></i>
        <div class="d-flex align-items-center">
            <label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
                <!-- Avatar place holder -->
                <span class="avatar avatar-xl">
                                        <img id="uploadfile-1-preview"
                                             class="avatar-img rounded-circle border border-white border-3 shadow"
                                             src="{{ profile_basic_form.photo.value.url }}" alt="">
                                </span>
                <!-- Remove btn -->
                <button type="button" class="uploadremove"><i class="bi bi-x text-white"></i></button>
            </label>
            <!-- Upload button -->
            <label class="btn btn-primary-soft mb-0" for="uploadfile-1">Change</label>
            <input id="uploadfile-1" class="form-control d-none" type="file" name="photo">
            <!-- Hidden input to indicate photo deletion -->
            <input type="hidden" id="delete-photo" name="delete_photo" value="false">
        </div>
        {% for error in profile_basic_form.photo.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}


    </div>

    <!-- Full name -->
    <div class="col-12">
        <label class="form-label">Full name</label>
        <div class="input-group">
            {{ profile_basic_form.first_name }}
            {% for error in profile_basic_form.first_name.errors %}
                <div class="alert alert-danger alert-dismissible">{{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
            {{ profile_basic_form.last_name }}
            {% for error in profile_basic_form.last_name.errors %}
                <div class="alert alert-danger alert-dismissible">{{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
        </div>
    </div>


    <!-- Gender -->
    <div class="col-md-6">
        <label class="form-label">Gender <b>*</b></label>
        {{ profile_basic_form.gender }}
        {% for error in profile_basic_form.gender.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>

    <!-- Title -->
    <div class="col-md-6">
        <label class="form-label">Title</label> <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip"
                                                   title="{{ CFChar.tooltip_title }}"></i>
        {{ profile_basic_form.title }}
        {% for error in profile_basic_form.title.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>

    <!-- Username ----------------------------- CHECK LATER?-->
    <div class="col-md-6">
        <label class="form-label">Username <b>*</b></label> <i class="bi bi-info-circle text-primary"
                                                               data-bs-toggle="tooltip"
                                                               title="{{ CFChar.tooltip_username }}"></i>
        <div class="input-group">
            <span class="input-group-text">{{ CFChar.site_name }}@</span>
            {{ profile_basic_form.username }}
        </div>
        {% for error in profile_basic_form.username.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>


    <!-- Email -->
    <div class="col-md-6">
        <label class="form-label">Email <b>*</b></label>
        {{ profile_basic_form.email }}
        <div id="email-error" class="invalid-feedback">
            {% if form.email.errors %}
                {{ profile_basic_form.email.errors.0 }}
            {% endif %}
        </div>
    </div>

    <!-- Phone number -->
    <div class="col-md-6">
        <label class="form-label">Phone number</label>
        {{ profile_basic_form.phone }}
        <div class="invalid-feedback">
            Please provide a valid phone number.
        </div>
        {% for error in profile_basic_form.phone.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>

    <!-- Location (Country) -->
    <div class="col-md-6">
        <label class="form-label">Location (Country) *</label> <i class="bi bi-info-circle text-primary"
                                                                  data-bs-toggle="tooltip"
                                                                  title="{{ CFChar.tooltip_location }}"></i>
        {{ profile_basic_form.country }}
        <div class="invalid-feedback">
            Please select a country.
        </div>
        {% for error in profile_basic_form.country.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>

    <!-- Native Language -->
    <div class="col-md-6">
        <label class="form-label">Native Language *</label> <i class="bi bi-info-circle text-primary"
                                                               data-bs-toggle="tooltip"
                                                               title="{{ CFChar.tooltip_native_language }}"></i>
        {{ profile_basic_form.lang_native }}
        {% for error in profile_basic_form.lang_native.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>

    <!-- Speaking Languages (SelectMultiple) -->
    <div class="col-md-6">
        <label class="form-label">
            Spoken Languages * </label> <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip"
                                           title="{{ CFChar.tooltip_spoken_languages }}"></i>
        {{ profile_basic_form.lang_speak }}
        <div class="invalid-feedback">
            Please select at least one language.
        </div>
        {% for error in profile_basic_form.lang_speak.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>

    <!-- About me -->
    <div class="col-12">
        <label class="form-label">About me</label> <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip"
                                                      title="{{ CFChar.tooltip_bio }}"></i>
        {{ profile_basic_form.bio }}
        <div class="form-text">Brief description for your profile.</div>
        {% for error in profile_basic_form.bio.errors %}
            <div class="alert alert-danger alert-dismissible">{{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    </div>
    <!-- Card body END -->

    <!-- Step 2 button -->
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" id="submitProfileBtn"
                class="btn btn-primary mb-0"
                aria-label="Submit and continue">
            Next
        </button>
    </div>
</form>
<!-- Profile form END -->